body {
  background-color: #FFB961;
  padding: 30px 20px 20px;
  font-size: 0.9rem;
  font-family: 'Source Serif 4', serif;
  font-weight: 600;
}

back-arrow {
  /* width: 100%;
  height: 100%;
  position: relative; */
}

.signup-form {
  background-color: #F9D9AC;
  border: 0px;
  border-radius: 12px;
  padding: 20px 20px 15px;
  margin-top: 20px;
}

label {
  /* width: 90%; */
  /* padding: 4% 0% 0%; */
  /* margin: 4% 0% 0%; */
  margin-top: 10%;
}

input {
  background-color: #FBE7CA;
  width: 90%;
  padding: 16px 0px 16px 24px;
  margin: 0.4rem 0% 1.3rem;
  border: 0px;
  border-radius: 5px;
}

.btn-container {
  text-align: center;
  margin: 1rem 0rem 0rem;
}

.btn-submit {
  padding: 7px 28px 7px;
  border: 0px;
  border-radius: 10px;
  font-size: 1.2rem;
  word-wrap: break-word;
  font-weight: 600;
  font-family: "IBM Plex Sans Devanagari";
  background-color: #FBE7CA;
}